body{
    font-family: 'PT Sans', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
    font-weight: 700px;
}
.color{
    color: orange;
}
.pro{
    width: 50%;
}
.link-btn{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato ) ;
    color:white;
    font-weight:700;
    padding:5px 10px;
    border-radius: 5px;
}